[{:event :registered,
  :t 0,
  :active-mrn "MRN000001",
  :persona
  {:name {:family "Miller", :given "Sophia"},
   :sex :female,
   :dob "2012-01-03",
   :age 12,
   :address
   {:street "204 Maple Ave",
    :city "Portland",
    :state "OR",
    :zip "97201"},
   :phone "564-979-8065",
   :ssn "900-90-9980",
   :payer
   {:id "commercial-hmo", :name "Commercial HMO", :type :commercial}},
  :participants [{:patient-id "PID-000000-918175ce", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000000-918175ce", :role :subject}],
  :active-mrn "MRN000001",
  :attending "3903633105",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 0,
  :location {:ward "Renal", :bed "RENAL-04", :placement :licensed},
  :forced false}
 {:event :registered,
  :t 3480,
  :active-mrn "MRN000002",
  :persona
  {:name {:family "Smith-Jones", :given "Mary"},
   :sex :female,
   :dob "1954-03-09",
   :age 70,
   :address
   {:street "35 Aspen Way",
    :city "Albuquerque",
    :state "NM",
    :zip "87102"},
   :phone "497-619-7552",
   :ssn "900-86-3096",
   :payer {:id "medicare-65", :name "Medicare", :type :medicare}},
  :participants [{:patient-id "PID-000001-881e2907", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000001-881e2907", :role :subject}],
  :active-mrn "MRN000002",
  :attending "3903633105",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 3480,
  :location {:ward "Renal", :bed "RENAL-02", :placement :licensed},
  :forced false}
 {:event :discharge,
  :t 6840,
  :active-mrn "MRN000001",
  :location {:ward "Renal", :bed "RENAL-04", :placement :licensed},
  :attending "3903633105",
  :participants [{:patient-id "PID-000000-918175ce", :role :subject}],
  :warm-up false}
 {:event :discharge,
  :t 15060,
  :active-mrn "MRN000002",
  :location {:ward "Renal", :bed "RENAL-02", :placement :licensed},
  :attending "3903633105",
  :participants [{:patient-id "PID-000001-881e2907", :role :subject}],
  :warm-up false}]
