{:deps {poly/sim     {:local/root "../../components/sim"}
        poly/sim-cli {:local/root "../../bases/sim-cli"}
        org.clojure/clojure {:mvn/version "1.12.3"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :run  {:main-opts ["-m" "ehrt.sim-cli.core"]}}}
