[{:event :registered,
  :t 0,
  :active-mrn "MRN000001",
  :persona
  {:name {:family "D'Angelo", :given "Joshua"},
   :sex :male,
   :dob "1981-02-03",
   :age 43,
   :address
   {:street "78 Magnolia St",
    :city "Atlanta",
    :state "GA",
    :zip "30303"},
   :phone "735-633-0549",
   :ssn "900-69-4969",
   :payer
   {:id "commercial-ppo", :name "Commercial PPO", :type :commercial}},
  :participants [{:patient-id "PID-000000-918175ce", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000000-918175ce", :role :subject}],
  :active-mrn "MRN000001",
  :attending "4255631598",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 0,
  :location {:ward "Renal", :bed "RENAL-02", :placement :licensed},
  :forced false}
 {:event :registered,
  :t 1260,
  :active-mrn "MRN000002",
  :persona
  {:name {:family "Lee", :given "Jessica"},
   :sex :female,
   :dob "1996-09-17",
   :age 28,
   :address
   {:street "204 Maple Ave",
    :city "Portland",
    :state "OR",
    :zip "97201"},
   :phone "711-821-3708",
   :ssn "900-84-3515",
   :payer {:id "medicaid", :name "Medicaid", :type :medicaid}},
  :participants [{:patient-id "PID-000001-881e2907", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000001-881e2907", :role :subject}],
  :active-mrn "MRN000002",
  :attending "4255631598",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 1260,
  :location {:ward "Renal", :bed "RENAL-01", :placement :licensed},
  :forced false}
 {:event :discharge,
  :t 8820,
  :active-mrn "MRN000001",
  :location {:ward "Renal", :bed "RENAL-02", :placement :licensed},
  :attending "4255631598",
  :participants [{:patient-id "PID-000000-918175ce", :role :subject}],
  :warm-up false}
 {:event :discharge,
  :t 10860,
  :active-mrn "MRN000002",
  :location {:ward "Renal", :bed "RENAL-01", :placement :licensed},
  :attending "4255631598",
  :participants [{:patient-id "PID-000001-881e2907", :role :subject}],
  :warm-up false}]
