[{:event :registered,
  :t 0,
  :active-mrn "MRN000001",
  :persona
  {:name {:family "Thomas", :given "Sophia"},
   :sex :female,
   :dob "2018-07-03",
   :age 6,
   :address
   {:street "150 Overlook Dr",
    :city "Boise",
    :state "ID",
    :zip "83702"},
   :phone "741-902-2110",
   :ssn "900-73-5546",
   :payer
   {:id "commercial-ppo", :name "Commercial PPO", :type :commercial}},
  :participants [{:patient-id "PID-000000-a792922a", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000000-a792922a", :role :subject}],
  :active-mrn "MRN000001",
  :attending "7769592800",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 0,
  :location {:ward "Renal", :bed "RENAL-02", :placement :licensed},
  :forced false}
 {:event :registered,
  :t 2340,
  :active-mrn "MRN000002",
  :persona
  {:name {:family "Lee", :given "Michael"},
   :sex :male,
   :dob "2003-12-02",
   :age 21,
   :address
   {:street "441 Hilltop Ave",
    :city "Phoenix",
    :state "AZ",
    :zip "85004"},
   :phone "371-558-9934",
   :ssn "900-07-0533",
   :payer {:id "medicaid", :name "Medicaid", :type :medicaid}},
  :participants [{:patient-id "PID-000001-607e2c86", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000001-607e2c86", :role :subject}],
  :active-mrn "MRN000002",
  :attending "9818880558",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 2340,
  :location {:ward "Renal", :bed "RENAL-01", :placement :licensed},
  :forced false}
 {:event :registered,
  :t 4440,
  :active-mrn "MRN000003",
  :persona
  {:name {:family "Nguyen", :given "David"},
   :sex :male,
   :dob "1970-10-21",
   :age 54,
   :address
   {:street "702 Crestwood Ave",
    :city "Tucson",
    :state "AZ",
    :zip "85701"},
   :phone "546-698-1880",
   :ssn "900-90-9905",
   :payer
   {:id "commercial-hmo", :name "Commercial HMO", :type :commercial}},
  :participants [{:patient-id "PID-000002-c315d7be", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000002-c315d7be", :role :subject}],
  :active-mrn "MRN000003",
  :attending "9818880558",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 4440,
  :location {:ward "Renal", :bed "RENAL-03", :placement :licensed},
  :forced false}
 {:event :discharge,
  :t 6660,
  :active-mrn "MRN000002",
  :location {:ward "Renal", :bed "RENAL-01", :placement :licensed},
  :attending "9818880558",
  :participants [{:patient-id "PID-000001-607e2c86", :role :subject}],
  :warm-up false}
 {:event :registered,
  :t 7020,
  :active-mrn "MRN000004",
  :persona
  {:name {:family "O'Brien", :given "Jessica"},
   :sex :female,
   :dob "1981-10-09",
   :age 43,
   :address
   {:street "56 Harborview Rd",
    :city "Boston",
    :state "MA",
    :zip "02108"},
   :phone "832-794-8280",
   :ssn "900-24-7619",
   :payer {:id "medicaid", :name "Medicaid", :type :medicaid}},
  :participants [{:patient-id "PID-000003-60b365e3", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000003-60b365e3", :role :subject}],
  :active-mrn "MRN000004",
  :attending "7769592800",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 7020,
  :location {:ward "Renal", :bed "RENAL-01", :placement :licensed},
  :forced false}
 {:event :discharge,
  :t 8820,
  :active-mrn "MRN000001",
  :location {:ward "Renal", :bed "RENAL-02", :placement :licensed},
  :attending "7769592800",
  :participants [{:patient-id "PID-000000-a792922a", :role :subject}],
  :warm-up false}
 {:event :registered,
  :t 9120,
  :active-mrn "MRN000005",
  :persona
  {:name {:family "Taylor", :given "Lisa"},
   :sex :female,
   :dob "1962-08-14",
   :age 62,
   :address
   {:street "78 Magnolia St",
    :city "Atlanta",
    :state "GA",
    :zip "30303"},
   :phone "987-630-6408",
   :ssn "900-24-6105",
   :payer
   {:id "commercial-ppo", :name "Commercial PPO", :type :commercial}},
  :participants [{:patient-id "PID-000004-a1f34eed", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000004-a1f34eed", :role :subject}],
  :active-mrn "MRN000005",
  :attending "9818880558",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 9120,
  :location {:ward "Renal", :bed "RENAL-04", :placement :licensed},
  :forced false}
 {:event :discharge,
  :t 11460,
  :active-mrn "MRN000004",
  :location {:ward "Renal", :bed "RENAL-01", :placement :licensed},
  :attending "7769592800",
  :participants [{:patient-id "PID-000003-60b365e3", :role :subject}],
  :warm-up false}
 {:event :discharge,
  :t 17220,
  :active-mrn "MRN000003",
  :location {:ward "Renal", :bed "RENAL-03", :placement :licensed},
  :attending "9818880558",
  :participants [{:patient-id "PID-000002-c315d7be", :role :subject}],
  :warm-up false}
 {:event :discharge,
  :t 20700,
  :active-mrn "MRN000005",
  :location {:ward "Renal", :bed "RENAL-04", :placement :licensed},
  :attending "9818880558",
  :participants [{:patient-id "PID-000004-a1f34eed", :role :subject}],
  :warm-up false}]
