[{:event :registered,
  :t 0,
  :active-mrn "MRN000001",
  :persona
  {:name {:family "Brown", :given "Michael"},
   :sex :male,
   :dob "1965-02-19",
   :age 59,
   :address
   {:street "441 Hilltop Ave",
    :city "Phoenix",
    :state "AZ",
    :zip "85004"},
   :phone "432-239-6907",
   :ssn "900-08-1423",
   :payer {:id "self-pay", :name "Self-Pay", :type :self-pay}},
  :participants [{:patient-id "PID-000000-a792922a", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000000-a792922a", :role :subject}],
  :active-mrn "MRN000001",
  :attending "0914424805",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 0,
  :location {:ward "Renal", :bed "RENAL-03", :placement :licensed},
  :forced false}
 {:event :registered,
  :t 1500,
  :active-mrn "MRN000002",
  :persona
  {:name {:family "Johnson", :given "Liam"},
   :sex :male,
   :dob "2017-03-18",
   :age 7,
   :address
   {:street "930 Birchwood Dr",
    :city "Austin",
    :state "TX",
    :zip "78701"},
   :phone "875-961-9296",
   :ssn "900-81-4261",
   :payer
   {:id "commercial-hmo", :name "Commercial HMO", :type :commercial}},
  :participants [{:patient-id "PID-000001-607e2c86", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000001-607e2c86", :role :subject}],
  :active-mrn "MRN000002",
  :attending "9468481426",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 1500,
  :location {:ward "Renal", :bed "RENAL-02", :placement :licensed},
  :forced false}
 {:event :registered,
  :t 2220,
  :active-mrn "MRN000003",
  :persona
  {:name {:family "Smith", :given "William"},
   :sex :male,
   :dob "1940-04-10",
   :age 84,
   :address
   {:street "17 Elm Ct", :city "Columbus", :state "OH", :zip "43215"},
   :phone "896-618-1194",
   :ssn "900-59-5890",
   :payer
   {:id "commercial-ppo", :name "Commercial PPO", :type :commercial}},
  :participants [{:patient-id "PID-000002-c315d7be", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000002-c315d7be", :role :subject}],
  :active-mrn "MRN000003",
  :attending "9468481426",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 2220,
  :location {:ward "Renal", :bed "RENAL-04", :placement :licensed},
  :forced false}
 {:event :registered,
  :t 3660,
  :active-mrn "MRN000004",
  :persona
  {:name {:family "Smith", :given "Jennifer"},
   :sex :female,
   :dob "1974-09-18",
   :age 50,
   :address
   {:street "63 Pinehurst St",
    :city "Charlotte",
    :state "NC",
    :zip "28202"},
   :phone "805-700-1990",
   :ssn "900-83-5672",
   :payer {:id "medicaid", :name "Medicaid", :type :medicaid}},
  :participants [{:patient-id "PID-000003-60b365e3", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000003-60b365e3", :role :subject}],
  :active-mrn "MRN000004",
  :attending "0914424805",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 3660,
  :location {:ward "Renal", :bed "RENAL-01", :placement :licensed},
  :forced false}
 {:event :discharge,
  :t 5100,
  :active-mrn "MRN000001",
  :location {:ward "Renal", :bed "RENAL-03", :placement :licensed},
  :attending "0914424805",
  :participants [{:patient-id "PID-000000-a792922a", :role :subject}],
  :warm-up false}
 {:event :registered,
  :t 6300,
  :active-mrn "MRN000005",
  :persona
  {:name {:family "Lopez", :given "Sarah"},
   :sex :female,
   :dob "1980-03-11",
   :age 44,
   :address
   {:street "312 Cedar Ln",
    :city "Nashville",
    :state "TN",
    :zip "37203"},
   :phone "567-437-2082",
   :ssn "900-72-9532",
   :payer
   {:id "commercial-hmo", :name "Commercial HMO", :type :commercial}},
  :participants [{:patient-id "PID-000004-a1f34eed", :role :subject}],
  :warm-up false}
 {:home-ward "Renal",
  :participants [{:patient-id "PID-000004-a1f34eed", :role :subject}],
  :active-mrn "MRN000005",
  :attending "0914424805",
  :warm-up false,
  :reason "Kidney problems",
  :event :admission,
  :t 6300,
  :location {:ward "Renal", :bed "RENAL-03", :placement :licensed},
  :forced false}
 {:event :discharge,
  :t 7440,
  :active-mrn "MRN000003",
  :location {:ward "Renal", :bed "RENAL-04", :placement :licensed},
  :attending "9468481426",
  :participants [{:patient-id "PID-000002-c315d7be", :role :subject}],
  :warm-up false}
 {:event :discharge,
  :t 9180,
  :active-mrn "MRN000004",
  :location {:ward "Renal", :bed "RENAL-01", :placement :licensed},
  :attending "0914424805",
  :participants [{:patient-id "PID-000003-60b365e3", :role :subject}],
  :warm-up false}
 {:event :discharge,
  :t 14520,
  :active-mrn "MRN000002",
  :location {:ward "Renal", :bed "RENAL-02", :placement :licensed},
  :attending "9468481426",
  :participants [{:patient-id "PID-000001-607e2c86", :role :subject}],
  :warm-up false}
 {:event :discharge,
  :t 16860,
  :active-mrn "MRN000005",
  :location {:ward "Renal", :bed "RENAL-03", :placement :licensed},
  :attending "0914424805",
  :participants [{:patient-id "PID-000004-a1f34eed", :role :subject}],
  :warm-up false}]
